protobuf==3.20.3
pillow==9.5.0
ultralytics==8.2.0 
mediapipe==0.10.13 
rich==13.0.0
gdown==5.2.0 
wget==3.2
python-dotenv==1.0.1
pillow-avif-plugin
fvcore
mediapipe
opencv-python>=4.8.0
svglib
addict
yapf
albumentations==1.4.3
matplotlib
facexlib
timm<=0.9.5
albumentations==1.4.3
insightface==0.7.3
onnx>=1.14.0
send2trash==1.8.2
ZipUnicode==1.1.1
beautifulsoup4==4.12.3
packaging==23.2
pysocks==1.7.1